{% extends 'components/table.html' %}
{% load static %}

{% block head_list %}
<!-- javaScript -->
    <script src="{% static 'js/user/user_list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Imagen</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}