{% extends 'components/table.html' %} {% load static %} {% block head_table %}
<script src="{% static 'js/category/category_list.js' %}"></script>
{% endblock %}

<!-- Columnas -->
{% block columns %}
<tr>
  <th scope="col" style="width: 20%">Nombre</th>
  <th scope="col" style="width: 20%">Descripción</th>
  <th scope="col" style="width: 20%">Imagen</th>
  <th scope="col" style="width: 20%">Opciones</th>
</tr>
{% endblock %}

<!-- Filas -->
{% block rows %} {% endblock %}

<!-- Script de javascript -->
{% block javaScript %} {% endblock %}
