{% extends 'components/table.html' %}
<!-- static -->
{% load static %} 
<!-- head table -->
{% block head_table %}
<script src="{% static 'js/client/client_list.js' %}"></script>
{% endblock %}
<!-- columnas -->
{% block columns %}
<tr>
  <th scope="col">Nombre</th>
  <th scope="col">Apellido</th>
  <th scope="col">Tipo Doc</th>
  <th scope="col">Núm Doc</th>
  <th scope="col">Teléfono</th>
  <th scope="col">Email</th>
  <th scope="col">Fecha Alta</th>
  <th scope="col">Opciones</th>
</tr>
<!-- Filas -->
{% endblock %} {% block rows %}

<!-- scripts javascript -->
{% endblock %} {% block javaScript %}

{% endblock %}
