{% extends 'components/table.html' %}

{% block columns %}
    <tr>
        <th scope="col" >Nombre</th>
        <th scope="col" >Apellido</th>
        <th scope="col" >Tipo Doc</th>
        <th scope="col" >Núm Doc</th>
        <th scope="col" >Teléfono</th>
        <th scope="col" >Email</th>
        <th scope="col" >Fecha Alta</th>
        <th scope="col" >Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.tipo_documento }}</td>
            <td>{{ c.num_documento }}</td>
            <td>{{ c.num_telefono }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.fecha_alta | date:'d/m/Y' }}</td>
            <td>
                <a href="#" type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left" title="Ver">
                    <i class="fas fa-search"></i>
                </a>
                <a href="{% url 'erp:client_update' c.id %}" type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'erp:client_delete' c.id %}" type="button" class="btn btn-danger  btn-xs" data-toggle="tooltip" data-placement="right" title="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
