{% extends 'components/body.html' %}
{% load static %}

{% block head_table %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'lib/datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    
    
    <!-- javaScript -->
    <script src="{% static 'js/sale/sale_list.js' %}"></script>

{% endblock %}

{% block content %}
 <div class="card card-default">
        <div class="card-header bg-info">
                <div class="row">
                            <div class="col-lg-8">
                                <h3 class="card-title mt-2">
                                    <i class="fas fa-list"></i>
                                        {{ title }}
                                </h3>
                            </div>
                            <div class="col-lg-4">
                                    <a href="{{ create_url }}" class="btn btnTest btn-light" data-toggle="tooltip" data-placement="right" title="Agregar nuevo registro"
                                    style="margin-left:35%;">
                                        <i class="fas fa-plus"></i> Nuevo registro
                                    </a>
                            </div>
                        </div>
                    </div>
            
        <div class="card-body">
             <!-- Tabla-->
           <!-- Tabla-->
          <table class="table" id="tblDetailSale">
                <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Razón Social</th>
                            <th scope="col">Tipo Factura</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Recargo</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Total</th>
                            <th scope="col">Opciones</th>
                        </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>    

 <!-- ================= MODAL====================    -->
<div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Detalle de productos</b></h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            delay: {show: 500}
        });   
        });
</script>
{% endblock %}

