{% extends 'components/table.html' %}
<!-- static -->
{% load static %}

<!-- head_table -->
{% block head_table %}
<script src="{% static 'js/product/product_list.js' %}"></script>
{% endblock %}

<!-- Columnas -->
{% block columns %}
<tr>
  <th scope="col">Articulo</th>
  <th scope="col">Nombre</th>
  <th scope="col">Categoria</th>
  <th scope="col">Precio Venta</th>
  <th scope="col">Stock</th>
  <th scope="col">Imagen</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}

<!-- Filas -->
{% block rows %} {% endblock %}

<!-- script javascript-->
{% block javaScript %} {% endblock %}
